*{
    font-family: "outfit";
}

body{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

h2{
    padding: 0;
    margin: 0 0 10px 0;
}

form{
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 20px;
    border-radius: 15px;
}

form p{
    text-align: center;
    margin: 0;
}

form span:nth-child(3){
    display: flex;
    justify-content: space-between;
    width: 100%;
}

form span:nth-child(3) input{
    width: 45%;
    padding: 10px 0;
}

form
input:nth-child(4),
input:nth-child(5),
input:nth-child(6)
{
    width: 100%;
    padding: 10px 0;
}

input{
    border: 0;
    border-radius: 20px;
    text-align: center;
}

#submit{
    font-weight: 100;
    font-size: large;
    padding: 10px 70px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 300ms;
    font-weight: bold;
}

#submit:hover{
    opacity: 80%;
}

.checkbox-wrapper-4 * {
    box-sizing: border-box;
}

.checkbox-wrapper-4 .cbx {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 6px;
    overflow: hidden;
    display: inline-block;
}
.checkbox-wrapper-4 .cbx:not(:last-child) {
    margin-right: 6px;
}
.checkbox-wrapper-4 .cbx span {
    float: left;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-4 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    transform: scale(1);
    border: 1px solid #cccfdb;
    transition: all 0.2s ease;
    box-shadow: 0 1px 1px rgba(0,16,75,0.05);
}
.checkbox-wrapper-4 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-4 .cbx span:last-child {
    padding-left: 8px;
    line-height: 18px;
}
.checkbox-wrapper-4 .cbx:hover span:first-child {
    border-color: #07f;
}
.checkbox-wrapper-4 .inp-cbx {
    position: absolute;
    visibility: hidden;
}
.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child {
    background: #07f;
    border-color: #07f;
    animation: wave-4 0.4s ease;
}
.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
}
.checkbox-wrapper-4 .inline-svg {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}
