*{
    font-family: "outfit";
}

body{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    background-color: lightblue;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
}

nav a b{
    font-family: "Bungee";
    font-weight: 20;
}

#login{
    padding: 5px 15px 8px 15px;
    background-color: #378CE7 ;
    border-radius: 5px;
    color: white;
}
a{
    text-decoration: none;
    color: black;
}

nav ul{
    display: flex;
    list-style: none;
    flex: 1;
    justify-content: center;
    gap: 30px;
    padding: 0;
}

nav a img{
    width: 50px;
}

nav .login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
