*{
    font-family: "outfit";
}

body{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    background-color: lightblue;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

nav div b{
    font-family: "Bungee";
}

#login{
    padding: 5px;
    margin: 5px;
    background-color: #378CE7 ;
    border-radius: 5px;
    color: white;
}
a{
    text-decoration: none;
    color: black;
}

nav ul{
    display: flex;
    list-style: none;
    flex: 1;
    justify-content: center;
    gap: 15px;
}

nav div img{
    width: 50px;
}

nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
