
*{
  font-family: "outfit" ,sans-serif;
}

html,body {
scroll-behavior: smooth;
}


body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}



::-webkit-scrollbar {
  width: 10px; /* Adjust as needed */
  }
  
  ::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Grey color */
  }
  
  ::-webkit-scrollbar-thumb {
  background-color: #888; /* Grey color */
  border-radius: 6px;
  }
  
  
.bsDot {
  height: 55px;
  width: 55px;
  background-color: #00ff15;
  border-radius: 50%;
  display: inline-block;
}

.cart {
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  max-width: 330px;
  border-radius: 25px;
  
}

.bsDot {
  margin-left: auto !important;
  margin-top: -19px;
  margin-right: -10px;
}

.bsImg img {
  height: auto;
  width: 300px;
  margin: 10px 20px;
}

.bsTitle p {
  text-align: center;
}

.bsProperties {
  display: flex;
  gap: 5px;
  justify-content: center;
  
}

.bsProperties .prop p {
    padding: 4px 25px;
    margin: 0px;
    color: white;
    font-weight: 400;
    font-size: 16px;
}

.bsProperties .prop {
  background-color: gray;
  width: fit-content;
  border-radius: 25px;
  height: fit-content;
}


.bsButtons {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}


.bsButtons {
  margin-top: 50px;
}
.hero {
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F6D2C3;
}
;.hero.part02 {
  width: 40%;
  padding-right: 50px;
}
.hero.part02 .button1 {
  width: 40%;
  height: 60%;
  background-color: black;
  color: #D9D9D9;
  border-radius: 5px;
  font-size: x-large;
}
  
  
  