/*footer style start*/

footer {
    background-color: black;
    display: flex;
    gap: 26%;
    color: white;
    justify-content: center;
    height: 190px;
    overflow: hidden;
    position: relative;
    /* Add position relative to create a positioning context for absolute elements */
    z-index: 80;
    flex-direction: row !important;
    width: 100%;
}


div#fcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: -39px;


}

div#glowEf06 {
    margin-left: auto;
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
    width: initial;
    z-index: 10;
    justify-content: flex-end;
}

div#glowEf05 {
    margin-top: -60px ! Important;
    z-index: 10;
}

@media (max-width:850px) {
    footer{
        gap: 0;
    }
}

/* footer style end*/