*{
  font-family: "outfit" ,sans-serif;
}

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}



nav{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  margin-bottom: -65px;
  z-index: 6;
  position: relative;
}

/*login btns style start */

.login {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 10px;

}
.login #login:hover , .login #signup:hover  {

  transform: scale(.9);
  opacity: .8;
}

.login #login , .login #signup {
  transition: opacity,transform 300ms;
}

/*login btns style start */

nav a b{
  font-family: "Bungee";
  font-weight: 20;
}

nav #login{
  padding: 5px 15px 8px 15px;
  background-color: #378CE7 ;
  border-radius: 5px;
  color: white;
  transition: opacity,transform 300ms;
}

section #login:hover {
  opacity: 0.8;
  transform: scale(0.9);
}

nav a {
  text-decoration: none;
  color: black;
}

/*hover nav start*/
  .menu li {
  display: block;
  height: 100%;
  margin-right: 30px;
  position: relative;
  display: flex;
  align-items: center;
  overflow-wrap: break-word;
  color: #000000;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu li:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  border-radius: 25px;
  display: block;
  transition: all 0.3s ease;
  bottom: 16%;
  margin-bottom: -5px!important;
  background: #00A3FF!important;
}

/*li after style start */
.menu #mainPage:after {
  width: 85px;
  height:3px;
}
/* li after style end */

.menu li:hover::after {
  width: 100%;
  height: 3px;
  background-color: #fff;
}
.menu li .all-product{
    margin-right: 12.5px;
    width: 117.6px;
    overflow-wrap: break-word;
    font-family: 'Outfit';
    font-weight: 500;
    font-size: 20px;
    color: #000000;
}
.menu .rectangle-28{
      border-radius: 4px;
      background: #00A3FF;
      align-self: flex-start;
      width: 98px;
      height: 5px;
    }
  

/*hover nav  end*/

/*bs slide start */
.slide-container{
  margin-right:30px;
}

div #bsSecondImg {
  margin-left: -80px;
  margin-bottom: -38px;
}

#bsSecondImg img {
  width: 460px;
}

.bsPart2 .container{
  display:flex;
  justify-content:center;
  gap:20px;
  height:550px;
}

.slideshow-container {
  position: relative;
  width: 400px;
  overflow: hidden;
  padding-top: 19px;
}

.slide-container {
  display: flex;
  transition: transform 0.5s ease;
}

.slide1 {
  flex: 1;
  min-width: 100%;
  height: 487px;
  margin-left: -13px;
  padding-right: 16px;
}

.prev, .next {
  
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  cursor: pointer;
  color:black;
  padding: 10px;
  z-index: 1;
  font-size: xxx-large;
  
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

/**bs slide staart**/

.bsDot {
  height: 55px;
  width: 55px;
  background-color: #00ff15;
  border-radius: 50%;
  display: inline-block;
}

.cart {
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  
}

.bsDot {
  margin-left: 88% !important;
  margin-top: -19px;

}

.bsImg img {
  height: 250px;
  width: 300px;
  margin: 10px 20px;
}

.bsImg {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}

.bsTitle p {
  text-align: center;
}

.bsProperties {
  display: flex;
  gap: 5px;
  justify-content: center;
  
}

.bsProperties .prop p {
    padding: 4px 25px;
    margin: 0px;
    color: white;
    font-weight: 400;
    font-size: 16px;
}

.bsProperties .prop {
  background-color: gray;
  width: fit-content;
  border-radius: 25px;
  height: fit-content;
}


.bsButtons {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}


.bsButtons {
  margin-top: 50px;
}

#btn01 , #btn02 {
  padding: 10px 12px;
  font-size: 19px;
}

#btn01 {
  color: #00A3FF;
  background: rgba(255, 255, 255, 0.767);
  border: none;
  transition: background 400ms;

}

#btn01:hover , #btn02:hover {
  background: black;
  color: white;
}

#btn02 {
  color: white;
  background: #00A3FF;
  border: none!important;
  border-radius: 0px 0px 25px 25px;
  transition: background 400ms;

}





/* bs slideshow end*/


/*hover nav  end*/
nav ul{
  display: flex;
  list-style: none;
  flex: 1;
  justify-content: center;
  gap: 30px;
  padding: 0;
}


nav a img{
  width: 50px;
} 

nav .logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #000;
}


.button p {
  color: white;
  font-weight: 550;
  font-size: 14px!important
}

.button{
  display: flex;
  gap: 10px;
  background: #00A3FF;
  padding: 0px 10px!important;
  align-items: center;
  margin-top: 20px;
  border-radius: 10px;
}

.main{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;  
}

.filtering {
  display: flex;
  gap: 200px;
  width: 100%;
  margin-bottom: -80px;
    align-items: center;
  transform: scale(0.8);
  margin-top: 140px;
}

.material-symbols-outlined {
  color: rgb(255, 255, 255);
}

.carts {
  display: flex;
  flex-wrap: wrap;
  transform: scale(0.8);
  width: 1800px;
  row-gap: 50px;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 72px;
}
/*searchBar style start */


.searchBar i {
  transform : rotateY(-180deg);
  color:white;
 
}

.searchBar button {
  border :none;
  padding :5px 20px;
  border-radius:25px;
  background : #00A3FF;
  transition: transform 300ms;

}

.searchBar input {
    border: none;
    margin-left: 5px;
    width: 79%;
}

.searchBar input:focus {
outline:none;
}

.searchBar {
  height: 30px;
  border: 1.5px #00A3FF solid;
  width: 300px;
  padding: 4px 0px;
  border-radius: 25px;
  padding-bottom: 0px ! Important;
  margin-top: 20px;
  display: flex;
  align-content: center;
  align-items: baseline;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  }

.searchBar input::placeholder {
  color:grey;
  font-size:13px;
  font-weight:700;
  
}

.searchBar button:hover {
  transform:scale(.9);
  opacity:.8;
  
}
/*searchBar style end */

/* sortby & filter & searchBar style start */

div#btns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 13px;
}

div#sb {
  display: flex;
  justify-content: flex-end;
  width: 70%;
}





/* sortby & filter & searchBAr style start */



.group-25 {
  border-radius: 26px;
  border: 1px solid #00A3FF;
  position: relative;
  margin: 1px 0 4.4px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px 5px 3.6px 13px;
  width: 257px;
  height: fit-content;
  box-sizing: border-box;
}
.search {
  margin: 8px 7px 8px 0;
  display: inline-block;
  width: 172px;
  overflow-wrap: break-word;
  font-family: 'Outfit';
  font-weight: 600;
  font-size: 11px;
  text-transform: capitalize;
  color: #7C7C7C;
}

  .group-21 {
    border-radius: 33px;
    background: #00A3FF;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 7px 0 7.4px 0;
    width: 60px;
    height: 30px;
    box-sizing: border-box;
} 
.vector-1 {
  border-radius: 33px;
  width: 14px;
  height: 15.6px;
}
.container-318 {
  position: relative;
  margin: 0 99px 54px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 863px;
  box-sizing: border-box;
}