body{
    background-color: #000;
}

form{
    background-color: darkgoldenrod;
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 20px;
}

form span:nth-child(3){
    display: flex;
    justify-content: space-between;
    width: 100%;
}

form span:nth-child(3) input{
    width: 45%;
}

form 
span:nth-child(3),
input:nth-child(4),
input:nth-child(5),
input:nth-child(6)
{
    width: 100%;
}

input{
    border: 0;
    border-radius: 15px;
    text-align: center;
}