*{
    font-family: "outfit";
}

body{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    margin-bottom: -65px;
    z-index: 6;
    position: relative;
    

}

nav a b{
    font-family: "Bungee";
    font-weight: 20;
}

nav #login{
    padding: 5px 15px 8px 15px;
    background-color: #378CE7 ;
    border-radius: 5px;
    color: white;
}

nav a {
    text-decoration: none;
    color: black;
}

nav ul{
    display: flex;
    list-style: none;
    flex: 1;
    justify-content: center;
    gap: 30px;
    padding: 0;
}

nav a img{
    width: 50px;
}

nav .login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

section span{
    font-size:3rem;
    font-weight: bolder;
}

section{
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6D2C3;
}

section div:nth-child(1){
    width: 43%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section p {
    text-align: center;
    font-size: larger;
    opacity: 70%;
    font-weight: bold;
}

section div div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section div div button{
    width: 49%;
    height: 60px;
    border-radius: 10px;
    background-color: black;
    border: 0;
    color: white;
    font-size: x-large;
    cursor: pointer;
}

footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    align-items: center;
    justify-content: center;
    height: 166px;
}

footer p{
    margin: 0;
}